.home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}
.home > h1{
    color:#000;
}
.form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:1000px;

}

